.PayBlock {
  color: #ffffff;

  h1 {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  
  .PayBlock__inputCont {
    padding-bottom: 20px;

    .PayBlock__input {
      border-radius: 3px;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 34px;
      height: 40px;
      text-align: center;
      color: #1c1c1c;
      outline: none;
      border: none;
      background-color: #e2e2e2;
    }

    .inputValid {
      // border: 1px solid #009e4f;
      -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
      -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
      box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
    }

    .inputInvalid {
      -webkit-box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
      -moz-box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
      box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
    }

    .RequestFormModal__inputErrorMessage {
      font-weight: 300;
      color:rgb(165, 71, 71);
    }
  }
}