.PayBlock {
  width: 420px;
  color: #ffffff;

  background-color: #f6f6f6;
  padding: 15px;

  .PayBlock__formHeader {
    background-color: #058dc7;
    padding: 15px;
    h1 {
      font-family: 'Druk Cyr';
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 0;

      color: #ffffff;
    }
  }

  .PayBlock__fieldsList {
    background-color: #f6f6f6;
    padding: 15px;
    padding-bottom: 0;
  }

  .PayBlock__promoCode {
    padding-left: 30px;
    padding-right: 30px;

    .PayBlock__input {
      height: 30px !important;
      padding: 0 !important;
      text-align: center;
    }

    .Button {
      height: 30px;
      font-weight: 400;
      font-size: 24px;
      border-radius: 2px;
      letter-spacing: 2px;
    }
  }

  .PayBlock__promoCodeEx {
    font-family: 'Montserrat';
    font-style: normal;
    color: #80b21c;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    line-height: 110%;
    margin-top: -10px;
  }

  .PayBlock__checkboxRow {
    padding: 15px;
    padding-top: 0;

    .PayBlock__checkbox {
      input[type='checkbox'] {
        width: 30px;
        height: 30px;
      }

      .PayBlock__check {
        background: #ffffff;
        border: 1px solid #727271;
        box-sizing: border-box;
      }
    }
    .PayBlock__checkboxTitle {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      padding-left: 0;

      color: #727272;

      a {
        color: #058dc7;
        text-decoration: none;
      }
    }
  }

  .PayBlock__inputCont {
    padding-bottom: 10px;

    h3 {
      font-family: 'Druk Cyr';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 135%;
      /* or 35px */

      letter-spacing: 0.03em;
      text-transform: uppercase;

      color: #058dc7;
    }

    .PayBlock__input {
      width: 100%;
      height: 60px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 135%;
      color: #727272;
      padding-left: 20px;
      padding-right: 20px;

      border: none;
      border-bottom: 1px solid #000000;
      box-shadow: 0px 4px 4px rgba(126, 126, 126, 0.25);
    }

    .inputValid {
      // border: 1px solid #009e4f;
      -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
      -moz-box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
      box-shadow: inset 0px 0px 7px 0px rgba(0, 158, 79, 1);
    }

    .inputInvalid {
      -webkit-box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
      -moz-box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
      box-shadow: inset 0px 0px 7px 0px rgba(134, 0, 0, 1);
    }

    .RequestFormModal__inputErrorMessage {
      font-weight: 300;
      color: #fdafaf;
    }
  }

  .PayBlock__descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    line-height: 120%;
    color: #00a0e3;
    text-align: center;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 0;
    font-weight: 600;

    span {
      // font-weight: 600;
      text-transform: uppercase;
    }
  }

  .checkBoxInvalid {
    background-color: #fdafaf;
  }

  .PayBlock__formErrorMessage {
    font-family: 'Montserrat';
    font-style: normal;
    padding: 10px;
    color: #fdafaf;
    font-weight: 500;
  }

  .PayBlock__finalPriceCont {
    margin-top: 0;
    margin-left: 15px !important;
    margin-right: 15px !important;
    padding: 10px;
    border-top: 1px dashed #058dc7;
    border-bottom: 1px dashed #058dc7;
    background-color: #ffffff;

    .PayBlock__finalPriceTitle {
      font-family: 'Druk Cyr';
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 120%;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #757575;
    }

    .PayBlock__finalPrice {
      font-family: 'Druk Cyr';
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 120%;
      /* identical to box height, or 36px */

      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #058dc7;
    }
  }

  .PayBlock__buttonCont {
    margin: 0;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;

    .PayBlock__button {
      height: 80px;
      background: #80b21c;
      border-radius: 8px 8px 0px 8px;
      font-family: 'Druk Cyr';
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 120%;

      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #ffffff;
      cursor: pointer;
    }

    .disabled {
      background-color: #cdd8b6;
      cursor: not-allowed;
    }
  }

  @media screen and(max-width: 420px) {
    width: 100%;

    .PayBlock__formHeader {
      // padding-top: 10px;
      // padding-bottom: 10px;

      h1 {
        font-size: 26px;
        line-height: 110%;
      }
    }

    .PayBlock__inputCont {
      h3 {
        font-size: 20px;
        line-height: 120%;
      }

      .PayBlock__input {
        font-size: 16px;
        height: 50px;
      }
    }

    .PayBlock__buttonCont {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
      .PayBlock__button {
        height: 60px;
        font-size: 26px;
      }
    }
  }

  .PayBlock__loading {
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #058dc7;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 8px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 8px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 32px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 56px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
