.Block9 {
  padding-bottom: 50px !important;
  h1 {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-bottom: 50px;

    color: #313131;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .Block9__Col {
    height: 600px;
  }

  .Block9__slideItem {
    height: 400px;
    background-color: #313131;

    h1 {
      color: #ffffff !important;
      padding: 0;
    }
  }

  .Block9__descr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    align-items: center;
    margin-bottom: 30px !important;

    color: #313131;

    // img {
    //   margin-left: 20px;
    //   margin-top: 10px;
    // }
  }

  @media screen and(max-width: 768px) {
    .Block9__Col {
      height: 400px;
    }
  }

  @media screen and(max-width: 460px) {
    .Block9__Col {
      height: 300px;
    }

    .Block9__descr {
      font-size: 16px;

    }
  }
}
