.ModalPayment {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  .ModalPayment__closeButton {
    width: 45px;
    height: 45px;
    margin-top: -55px;
    margin-right: 10px;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #727272;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #313131;
    }

    img {
      width: 22px;
      height: 22px;
    }
  }

  .ModalPayment__body {
    border-radius: 10px 10px 0 10px;
    background-color: #00a0e3 !important;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  @media screen and(max-width: 420px) {
    .ModalPayment__closeButton {
      width: 35px;
      height: 35px;
      margin-top: -25px;

      img {
        width: 15px;
        height: 15px;
      }
    }
  }
}
