.ComplexBlock {
  color: #ffffff;
  background: #668e15;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.13);
  border-radius: 20px 20px 0px 20px;

  text-align: center;

  h1,
  h4 {
    color: #ffffff;
  }
  &__stages {
    padding: 80px;
  }

  &__purchase {
    padding: 80px;
    background-color: #80b21c;
    border-radius: 0px 0px 0px 21px;
  }
}

@media (max-width: 520px) {
  .ComplexBlock {
    padding: 10px;
  }
}
