.ComplexBlock {
  color: #ffffff;
  background: #668e15;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.13);
  border-radius: 20px 20px 0px 20px;
  margin-bottom: 120px;
  text-align: center;

  h1,
  h4 {
    color: #ffffff;
  }
  &__stages {
    padding: 80px;
  }

  &__purchase {
    padding: 80px;
    background-color: #80b21c;
    border-radius: 0px 0px 0px 21px;
    &__buttons {
      display: flex;
      justify-content: center;
    }

    h4 {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }

    p {
      width: 100%;
      padding-bottom: 20px;
    }
  }

  &__iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-top: 10px;
    background: #ffffff;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    color: #058dc7;
    width: 190px;
    height: 60px;
    margin: 0px 20px;

    img {
      margin-right: 15px;
    }
  }
  p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 145%;
    text-align: center;
  }
}

.buttonCont {
  width: 200px;
}

@media (max-width: 520px) {
  .ComplexBlock {
    padding: 10px;
  }

  .ComplexBlock__stages {
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
      font-size: 30px;
      line-height: 120%;
    }

    h4 {
      font-size: 24px;
      line-height: 120%;
    }

    .DashedBorderBlock {
      padding: 10px 5px !important;

      .DashedBorderBlock__content {
        font-size: 14px;
        line-height: 135%;
      }
    }
  }

  .ComplexBlock__purchase {
    padding: 50px !important;

    h4 {
      font-size: 24px;
      line-height: 120%;
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 145%;
      padding-bottom: 20px;
    }
  }

  p {
    font-size: 16px;
    line-height: 145%;
  }

  .ComplexBlock__buttonCont {
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
  }
}
