.Block11 {
  padding-top: 50px;
  padding-bottom: 100px;
  h1 {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #313131;
  }
}
