.Certificates, .Certificates__Mobile {
  padding-bottom: 80px !important;

  .Certificates__slide {
    img {
      height: 350px;
    }
  }

  .Certificates__pagination {
    .swiper-pagination, .swiper-paginationMobile {
      .swiper-pagination-bullet {
        margin-right: 5px;
        width: 12px;
        height: 12px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #058dc7;
    }
  }

  @media screen and(max-width: 576px) {
    .Certificates__slide {
      img {
        height: 300px;
      }
    }
  }
}
