.Block3 {
  padding-top: 100px !important;
  overflow: hidden;

  .Block3__img {
    padding-top: 50px !important;
  }

  .Block3__imgMob {
    width: 140% !important;
    margin-left: -20% !important;
  }

  .Block3__button {
    padding-top: 10px !important;
  }

  @media screen and(max-width: 576px) {
    padding-top: 50px !important;
  }
}