.Block2 {
  padding-top: 100px !important;
  .Block2__Container {
    border-radius: 20px;
    overflow: hidden;
    background-color: #00a0e3;

    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 135%;
    /* or 73px */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    .Block2__card {
      overflow: hidden;
      padding: 0;

      img {
        // height: 100%;
      }
    }
  }

  // @media screen and(max-width:380px) {
  //   .Block2__card {
  //     min-height: 320px !important;
  //   }
  // }

  // @media screen and(max-width:380px) {
  //   .Block2__card {
  //     height: 320px !important;
  //   }
  // }
}
