.BeforeAfterBlock {
  .BeforeAfterBlock__texts {
    font-family: 'Druk Cyr';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 100%;
    /* identical to box height, or 30px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;

    height: 50px;
  }

  .BeforeAfterBlock__imgBefore, .BeforeAfterBlock__imgAfter {
    overflow: hidden;
  }
}
