.AdditionalServices {
  .DoubleCard {
    padding: 0;
    margin-bottom: 60px;
    padding-right: 40px;

    @media screen and(max-width: 1200px) {
      padding-right: 0px;
    }

    .DoubleCard__Row {
      background: #f6f6f6;
      box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.13);
      border-radius: 20px 20px 0px 20px;
      padding: 40px;

      @media screen and(max-width: 576px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    h1 {
      font-family: 'Druk Cyr';
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #313131;
    }

    h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-align: center;

      color: #313131;
    }

    p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 135%;
      text-align: center;

      color: #313131;
    }

    @media screen and(max-width: 576px) {
      h1 {
        font-size: 24px;
      }

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .AdditionalServices__cardCont {
    img {
      padding-right: 20px;
    }

    @media screen and(max-width:576px) {
      font-size: 14px;
    }
  }

  &__card {
    min-height: 615px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px 20px 0px 20px;
    margin-bottom: 60px;
    padding: 50px;
    max-width: 530px;

    display: block;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    p {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 24px;
      text-align: center;
    }

    @media screen and(max-width:576px) {
      h2 {
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    &__text {
      width: 60%;
      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 135%;
        text-align: start;
      }
    }
  }
  &__card.gray {
    background: #f6f6f6;
  }
  &__card.green {
    background: #8ebe2d;
    align-items: center;
    align-content: center;
    justify-content: start;
    color: #ffffff;
    // background-image: url('/images/contacts_photo.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }

  &__card.blue {
    background: #058dc7;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #ffffff;
  }

  &__iconButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-top: 10px;

    background: #ffffff;
    border-radius: 8px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    color: #058dc7;
    width: 190px;
    height: 60px;
    img {
      margin-right: 15px;
    }
  }
}

.AdditionalServices__propsCont {
  .AdditionalServices__sexType {
    padding: 20px;
    cursor: pointer;

    span {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      margin-left: 5px;

      color: #313131;
    }
  }

  .AdditionalServices__select {
    padding: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;

    color: #00a0e3;

    .AdditionalServices__selectValue,
    .AdditionalServices__selectArrow {
      &:hover {
        cursor: pointer;
      }
    }

    .AdditionalServices__selectOptions {
      font-size: 18px;
      font-weight: 600;
      background-color: #ffffff;
      border: 1px #00a0e3 dashed;
      border-bottom: none;

      .AdditionalServices__selectOption {
        padding: 10px !important;
        cursor: pointer;
        border-bottom: 1px #00a0e3 dashed;

        &:hover {
          background-color: #00a0e3;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .AdditionalServices__select {
    font-size: 14px !important;

    .AdditionalServices__selectOptions {
      font-size: 14px !important;
    }
  }

  .AdditionalServices__sexType {
    padding: 10px !important;
    span {
      font-size: 14px !important;
    }
  }

  .AdditionalServices {
    h1 {
      font-size: 48px;
    }

    &__card {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__card.green {
      // background-image: url(//contacts_photo_sm.png);
    }
  }
}
