.MirrorHeader {
  font-family: 'Druk Cyr';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  .MirrorHeader__Left {
    color: #313131;
  }

  .MirrorHeader__Right {
    color: #838383;
    text-align: right;
  }

  @media screen and(max-width: 972px) {
    font-size: 52px;
  }

  @media screen and(max-width:768px) {
    font-size: 30px;

    .MirrorHeader__Left {
      padding-bottom: 20px !important;
    }

    .MirrorHeader__Right {
      justify-content: start !important;
      text-align: left !important;
    }
  }
}
